* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body{
  background-color:#ff4444;
}

.top{
  background-color:#74d680;
  margin: 1vw;
  outline-style: solid;
  outline-width: 0.5vw;
  outline-color: #378b29;
  height: 10vw;
  width: 98vw;

}
.header{
    font-family: 'Roboto', sans-serif;
    font-size: 6.5vw;
    -webkit-text-stroke:0.1vw #378b29;
    text-align: left;
    color:white;
    padding: 1vw 2vw;
    width: 55%;
    float: left;
  }

.description{
  float: left;
  background-color:	#ff7777;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vw;
  text-align: center;
  margin: 1vw 0 0 1vw;
  padding: 1vw;
  outline: auto;
  outline-color: white;
  width: 35%;
}
.clearfix{
  clear:both;
}
.row{
  display: flex;
  margin: 0 0;
}
.top-column{
  flex: 50%;
  margin: 1vw 1vw 0 1vw;
  background-color:#ff7777;
  font-family: 'Roboto', sans-serif;
  outline-style: solid;
  outline-width: 0.5vw;
  outline-color: white;

}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    -webkit-text-stroke:0.01vw #ff4444;
    color:white;
    padding: 0.5vw;
    text-align: center;
}
.search-column{
  flex: 50%;
  margin: 1vw 1vw 0 1vw;
  background-color: #378b29;
  font-family: 'Roboto', sans-serif;
  outline-style: solid;
  outline-width: 0.5vw;
  outline-color: white;
}
.results-column{
  flex: 50%;
  margin: 1vw 1vw 0 1vw;
  background-color: #378b29;
  font-family: 'Roboto', sans-serif;
  outline-style: solid;
  outline-width: 0.5vw;
  outline-color: white;
}
.time-button{
  color: white;
  width: 10vw;
  padding: 0.5vw;
  margin: 0.5vw 0 2vw 4vw;
  font-family: 'Roboto', sans-serif;
  font-size: 2vw;
  border-radius: 12px;
  background-color: #ff4444;
  border: 0.2vw solid white;
}

.meat-button{
  color: white;
  width: 9vw;
  padding: 0.5vw;
  margin: 0.5vw 0 1vw 2vw;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8vw;
  border-radius: 12px;
  background-color: #ff4444;
  border: 0.2vw solid white;
}

.filters{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vw;
  text-align: center;
  color: white;
  padding: 1vw;
}

#search{
  color: white;
  border-radius: 12px;
  background-color:#ff7777;
  font-size: 2vw;
  padding: 1vw;
  margin: 1vw auto;
  display: block;
  border: 0.2vw solid white;
}

#results{
  color: white;
  font-size: 3vw;
  padding: 10vw;
  text-align: center;
}

#results-table{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5vw;
  height: 26.5vw;
  overflow-y: auto;
  padding: 1vw 0 1vw 5vw;
  display: none;
}

#edit{
  color: white;
  border-radius: 12px;
  background-color:#ff4444;
  font-size: 3vw;
  padding: 0.5vw;
  margin: 1vw auto;
  display: block;
  border: 0.2vw solid white;
}

#name{
    background-color: #ff4444;
    color: white;
    font-size: 2vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0.5vw;
    border: 0.1vw solid white;
}
